/* Grid Layout */
body {
  overflow-x: hidden;
  background-color: rgba(255, 255, 227, 0.76);
  .container {
    display: grid;
    grid-template-rows: repeat(3, auto) 20%;
    grid-template-columns: 10% 80% 10%;
    gap: 5px;
    height: 100vh;
    nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-row: 1;
      grid-column: 1 / end;
      background-color: rgb(0, 32, 90);
      box-shadow: 0 4px 10px;
      img {
        grid-row: 1;
        grid-column: 1;
        align-self: center;
        justify-self: center;
        margin: 0;
        padding: 0;
        max-width: 180px;
        width: 100%;
        height: auto;
      }
    }
    footer {
      background-color: rgb(0, 32, 90);
      grid-row: 4 / end;
      grid-column: 1 / end;
    }
  }
}
.thanks-body {
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  .container {
    grid-template-rows: 5% auto auto 10%;
    grid-template-columns: 5% 90% 5%;
  }
  .thanks-container {
    height: 105vh !important;
  }
}
