/* 'index.html' & 'thanks.html' pages - Grid Layout & Style */

.container {
  color: rgba(0, 0, 0, 0.7);
  .section-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    gap: 2%;
    grid-row: 2 / auto;
    grid-column: 2 / 3;
    background-color: rgba(0, 81, 255, 0.219);
    border-radius: 20px;
    padding: 5%;
    margin: 5% 0 5% 0;
    section {
      grid-column: 1;
      grid-row: 1;
      padding: 1%;
      h1 {
        width: 100%;
        margin-bottom: 4%;
        letter-spacing: 2px;
        font-size: 3em;
        font-family: "Times New Roman", Times, serif;
        font-weight: lighter;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
      }
      p {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin: 5%;
        letter-spacing: 0.8px;
        line-height: 1.5;
      }
      .thanks {
        text-align: end;
      }
    }
    img {
      grid-column: 2;
      grid-row: 1;
      align-self: center;
      justify-self: center;
      max-width: 350px;
      width: 100%;
      margin-right: 2%;
      height: auto;
      border-radius: 5px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.582);
    }

    input[type="button"] {
      grid-row: 1;
      grid-column: 2;
      align-self: end;
      margin-left: auto;
      padding: 10px;
      width: auto;
      border: none;
      border-radius: 5px;
      color: white;
      background-color: rgb(98, 138, 199);
      font-size: 1em;
      font-weight: lighter;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      transition: all 0.15s ease-in-out;
      &:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.829);
        background-color: rgb(74, 102, 145);
      }
      &:focus {
        color: rgba(255, 255, 255, 0.829);
        outline: none;
        border: none;
        background-color: rgb(74, 102, 145);
        box-shadow: 0 0 1px 3px rgba(47, 78, 255, 0.479);
      }
    }
  }

  .form-container {
    display: grid;
    grid-template-columns: auto repeat(8, 1fr);
    grid-template-rows: auto auto;
    gap: 5px;
    grid-row: 3;
    grid-column: 2;
    margin-bottom: 5%;

    h1 {
      grid-row: 1;
      grid-column: 1 / end;
      margin-bottom: 4%;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.473);
      font-size: 2em;
      font-weight: lighter;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    img {
      grid-row: 2;
      grid-column: 1/5;
      align-self: center;
      justify-self: center;
      max-width: 300px;
      width: 100%;
      height: auto;
      border-radius: 5px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.438);
    }
    form {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: auto auto;
      align-items: center;
      grid-row: 2;
      grid-column: 5 / end;

      .name {
        align-items: center;
        display: grid;
        grid-template-rows: 90% 10%;
        grid-template-columns: 30% 70%;
        grid-row: 1;
        grid-column: 1 / end;
        margin-bottom: 2%;
      }
      .email {
        align-items: center;
        display: grid;
        grid-template-rows: 90% 10%;
        grid-template-columns: 30% 70%;
        grid-row: 2;
        grid-column: 1 / end;
        margin-bottom: 2%;
      }
      .phone {
        align-items: center;
        display: grid;
        grid-template-rows: 90% 10%;
        grid-template-columns: 30% 70%;
        grid-row: 3;
        grid-column: 1 / end;
        margin-bottom: 2%;
      }

      label {
        grid-row: 1;
        grid-column: 1;
        margin-left: 2em;
        color: rgb(59, 59, 59);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.473);
        font-weight: lighter;
        font-size: 1.5em;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }

      input {
        justify-self: start;
        grid-row: 1;
        grid-column: 2;
        width: 80%;
        height: 70%;
        margin: 5px 0 5px 0;
        padding: 0.4rem 0.4rem;
        font-size: 1rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        box-shadow: none;
        border: none;
        border-radius: 0.25rem;
        transition: all 0.15s ease-in-out;
        outline: none;
        border: 1px solid navy;
        &:hover {
          width: 95%;
        }
        &:focus {
          width: 95%;
          box-shadow: 0 0 1px 4px rgba(93, 144, 255, 0.308);
        }
      }

      p.err {
        grid-row: 2;
        grid-column: 2;
        color: red;
        margin: 1px 0 2px 0;
      }
      button {
        grid-row: 4;
        grid-column: 1 / end;
        justify-self: center;
        align-self: center;
        width: 99%;
        height: 90%;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: rgb(98, 138, 199);
        font-size: 1.5em;
        font-weight: lighter;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        transition: all 0.15s ease-in-out;
        &:hover {
          cursor: pointer;
          color: rgba(255, 255, 255, 0.829);
          background-color: rgb(74, 102, 145);
        }
        &:focus {
          color: rgba(255, 255, 255, 0.829);
          outline: none;
          border: none;
          background-color: rgb(74, 102, 145);
          box-shadow: 0 0 1px 3px rgba(47, 78, 255, 0.479);
        }
        &:disabled {
          color: rgba(255, 255, 255, 0.829);
          background-color: rgba(131, 155, 190, 0.582);
          box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.123);
          &:hover {
            color: rgba(255, 255, 255, 0.829);
            cursor: initial;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    .section-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      padding-bottom: 10%;

      .thanks {
        text-align: left !important;
      }

      img {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        max-width: 350px;
        width: 100%;
        height: auto;
      }
      input[type="button"] {
        grid-column: 1;
        grid-row: 2;
        align-self: end;
        margin-left: auto;
        padding: 10px;
        width: auto;
        font-size: 1em;
      }
    }
    .form-container {
      grid-template-columns: auto repeat(8, 1fr);
      grid-template-rows: auto auto;
      gap: 5%;
      grid-row: 3;
      grid-column: 2;
      h1 {
        grid-row: 1;
        grid-column: 1 / end;
        font-size: 1.7em;
        font-weight: lighter;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }
      form {
        label {
          margin: 0 5% 0 5%;
          font-size: 1.1em;
        }
      }
    }
  }
}
